@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: black;
    color: white;
  }

h1 {
    @apply text-3xl font-bold;
}

h2 { 
    @apply text-2xl font-bold;
}

h3 {
    @apply text-xl font-bold;
}

h4 {
    @apply text-lg font-bold;
}

h5 {
    @apply text-base font-bold;
}

img {
    display: block;
    margin: 0 auto;
    margin-top: 4px;
    margin-bottom: 4px;
    width: 600px;
    height: auto;
    border: 1px solid black;
}

.link {
    @apply text-blue-500 hover:text-blue-700 font-bold;
}
